body {
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    border: 1px solid #9aaebb;
    height: 100%;
    margin: 2px;
    color: white;
}

.nav-item {
    font-size: 18px;
}

.nav-background {
    background-image: linear-gradient(to left top, #364954, #4e616c, #667a86, #8093a0, #9aaebb);
}

.nav-logo {
    margin-right: 15px
}
