body {
    font-family: 'Roboto', sans-serif;
}

.nav-link, .navbar-brand {
    color: white;
}

.nav-link:hover {
    border: 1px solid #9aaebb;
    height: 100%;
    margin: 2px;
    color: white;
}

.nav-item {
    font-size: 18px;
}

.nav-background {
    background-color: #364954;
}

.nav-logo {
    margin-right: 15px
}

.navbar-toggler {
    background-color: white;
    color: royalblue;
    opacity: .5;
}

.navbar-toggler navbar-toggler-icon {
    color: black;
    font-size: 80px;
}

.navbar-brand:hover {
    color: white;
}