.sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 70px;
    line-height: 20px; /* Vertically center the text there */
    background-color: #364954;
  }

  #shake-footer {
    color: #156382;
    font-weight: bolder;
  }