#current-projects-header {
    margin-bottom: 20px;
    color: #364954;
    margin-top: 30px;
}

.view-project {
    margin: 25px;
    background-color: #364954;
    color: white;
}

.delete-project {
    background-color: #765634;
    color: white;
}

.view-project:hover, .delete-project:hover {
    color: white;
}

.img-fluid {
    max-height: 200px;
}

/* .card-body {
    background-color: #ac8764;
} */

.hvr-reveal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-reveal:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-color: #156382;
    border-style: solid;
    border-width: 0;
    -webkit-transition-property: border-width;
    transition-property: border-width;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-reveal:hover:before, .hvr-reveal:focus:before, .hvr-reveal:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    border-width: 4px;
  }

  .project-title {
      padding-bottom: 10px;
  }

  .button-holder {
      display: inline
  }

  .project-card {
      margin: 35px;
  }

