ion-icon {
    color: #364954;
    margin-right: 6px;
    font-size: 24px;
}

.project-form {
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 100px;
}

#submit-form {
    background-color: #ac8764;
    color: white;
    font-weight: bold;
    margin-bottom: 6px;
}

#submit-form:hover {
    background-color: #364954;
    font-weight: bolder;
}

.primary-background {
    background-color: #156382;
}

#form-title {
    color: white;
    font-weight: bold;
    padding-bottom: 15px;
}

label {
    color: #364954;
}