.secondary-background {
    background-color: #9aaebb;
}

.hero-text {
    font-weight: bolder;
    color: white;
}

#shake {
    color: #156382;
    font-weight: bolder;
    font-size: 64px;
}

.hero-subtext {
    font-weight: bold;
    color: white;
}

.jumbotron {
    background-image: url("http://oi67.tinypic.com/2gsreyc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: .8;
}


.image-text {
    opacity: 1 !important;
    font-weight: bolder !important;
}
