.submit-bid-form {
    background-color: lightgrey;
    padding: 15px;
    border-radius: 20px;
}

.secondary-background {
    background-color: #9aaebb;
}


.wrapper {
  display: flex;
  align-items:center;
  justify-content:center;
}
  
.file-upload {

    height:60px;
    width:60px;
    border-radius: 100px;
    position:relative;
    
    display:flex;
    justify-content:center;
    align-items: center;  

    border:2px solid #FFFFFF;
    background-image: linear-gradient(to bottom, #364954 50%, #FFFFFF 50%);
    background-size: 100% 200%;
    transition: all .5s;
    color: #FFFFFF;
    font-size:100px;
  }

    input[type='file']{

      height:100px;
      width:100px;
      margin-bottom: 100px;
      position:absolute;
      top:0;
      left:0;
      opacity:0;
      cursor:pointer;
      padding: 5px;

    }

   /* :hover {

      background-position: 0 -100%;

      color:#364954;

    }  */

#upload-icon {
    font-size: 40px;
    padding-left: 4px;
    color: white;
}

/* #upload-icon:hover {
    color: #364954
} */

#submit-bid-form-title {
  color: white;
  font-weight: bolder;
  padding-bottom: 15px;
}

#calendar-button {
  display: inline-flex;
  margin-top: 38px;
  color: white;
  height: 39px;
  background-color: #364954;
  font-size: 18px;
  padding-left: 140px;
}

#calendar-button-icon {
  color: white;
}

body {
  background-color: #dcdcdc;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23ffffff' fill-opacity='0.38'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

#contractor-submit-form-icon {
  color: white;
}